.proposal-container {
    text-align: center;
    margin-top: 50px;
    position: relative;
    height: 100vh;
  }
  
  .bouquet {
    width: 200px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2em;
    color: #333;
  }
  
  .buttons-container {
    margin-top: 20px;
    position: relative;
  }
  
  .yes-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .yes-button:hover {
    background-color: #45a049;
  }
  
  .no-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    transition: top 0.3s, left 0.3s;
  }
  